<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Kodland</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="style.css" type="text/css" media="all"/>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap" rel="stylesheet">
        <style>
            body {background: #E5E5E5;}
        </style>
    </head>

    <body>
        <header>
            <div class="header">
                <a href="#" class="logo"></a>
                <div class="blog">Блог</div>
                <a href="#" class="new_article">+ Добавить статью</a>
            </div>
        </header>

        <div class="line"></div>

        <div class="article">
            <h1 class="art_h">Как программирование развивает привычные отрасли?</h1>
            <img class="art_image" src="img/mainart.png">
            <p>Текст. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                Текст. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
        </div>
            
    </body>
</html>