{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}

    {% for last in last %}
    <div class="top_wrapper">
        <div class="last_article">
            <p class="new_caption">NEW</p>
            <h1 class="main_h">{{ last.title }}</h1>
            <p class="last_art_text">{{ last.text|truncatechars:180 }}</p>
            <a href="{% url 'post' last.pk %}" class="last_art_read">Читать</a>
        </div>
    </div>

    {% load thumbnail %}
    {% thumbnail last.image "1000x723" crop="center"  upscale=True as im %}
        <img src="{{im.url}}" class="main_image">
    {% endthumbnail %}
    {% endfor %}

    <div class="line2"></div>

    <div class="article_wrapper">
        <h2 class="other_arts">Другие статьи</h2>
            {% for post in posts %}
            <a href="{% url 'post' post.pk %}" class="article_view">
                <p class="art_date">{{ post.pub_date|date:"d F Y h:m" }}</p>
                {% load thumbnail %}
                {% thumbnail post.image "1000x723" crop="center"  upscale=True as im %}
                <img src="{{im.url}}" class="art_img">
                {% endthumbnail %}
                <p class="art_link">{{ post.title }}</p>
            </a>
            {% endfor %}
    </div>

{% endblock %}