{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}

    <div class="top_wrapper">
        <div class="last_article">
            <p class="new_caption">NEW</p>
            {% for last in last %}
            <h1 class="main_h">{{ last.title }}</h1>
            <p class="last_art_text">{{ last.title|truncatechars:180 }}</p>
            <a href="#" class="last_art_read">Читать</a>
            {% endfor %}
        </div>
    </div>

    <img src="img/mainart.png" class="main_image">

    <div class="line2"></div>

    <div class="article_wrapper">
        <h2 class="other_arts">Другие статьи</h2>
        {% for post in posts %}
        <a href="#" class="article_view">
            <p class="art_date">{{ post.pub_date|date:"d F Y h:m" }}</p>
            <img src="img/art.png" class="art_img" style="background-color: red;">
            <p class="art_link">{{ post.title }}</p>
        </a>
        {% endfor %}
    </div>

{% endblock %}